
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>NutriSaw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NutriSaw</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <li><a href="/pacientes">Pacientes</a></li>
              <li><a href="/adicionar">Adicionar</a></li>
              <li><a href="/alterar">Alterar</a></li>
              <li><a href="/excluir">Excluir</a></li>
              <li class="active"><a href="/busca-avancada"> Buscar </a></li>
            </ul>
          </div>
        </div>
      </nav>

     
      <div class="jumbotron">
        <form action="/busca-avancada" method="POST">
          <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control">
          <br>
          <label for="idade">Idade: </label>
            <input type="text" name="idade" class="form-control">
          <br>
          <label for="IMC">Imc: </label>
            <select name="imc" id="IMC" class="form-control">
                <option value="0"></option>
                <option value="1"> < 18,5 | EXCESSO DE MAGREZA </option>
                <option value="2"> 18,5 - 25 | PESO NORMAL </option>
                <option value="3"> 25 - 30 | EXCESSO DE PESO </option>
                <option value="4"> 30 - 35 | OBESIDADE (GRAU 1) </option>
                <option value="5"> 35-40 | OBESIDADE (GRAU 2) </option>
                <option value="6"> > 40 | OBESIDADE (GRAU 3) </option>
            </select>
          <br>
          <label for="sexo">Sexo: </label>  
            <select name="sexo" id="sexo" class="form-control">
              <option value="0"></option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
            <br>
            <label for="ordenar">Ordenar por: </label>
            <select name="ordenar" id="ordenar" class="form-control">
              <option value=""></option>
              <option value="peso">Peso</option>
              <option value="altura">Altura</option>              
              <option value="gordura">Gordura</option>
              <option value="sexo">Sexo</option>
              <option value="idade">Idade</option>
              <option value="imc">IMC</option>
            </select>
            <br>
            <label class="radio-inline"><input type="radio" name="ordem">ASC</label>
            <label class="radio-inline"><input type="radio" name="ordem">DESC</label>
            <br>
         <button  type="submit" class="btn btn-default" style="margin-left: 42%; margin-top: 1%">Buscar</button>  
        </form>
      </div>
    </div>
  </body>
</html>
